---
layout: layout.njk
translationKey: lan-party
title: "LAN Party 2025"
kurz: "Countdown to the start: Dec 27, 2025, 4:30 pm."
permalink: /en/projects/lan-party-2025/
tags: [projekte]
---

{% include "partials/lan-party.njk" %}
