<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

  <header>
    <nav>
      <a href="/">Start</a>
      <a href="/leistungen/">Leistungen</a>
      <a href="/ueber-mich/">Über mich</a>
      <a href="/kontakt/">Kontakt</a>
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
  <p>© rauschi.de</p>
  <p>
    <a href="/impressum/">Impressum</a> ·
    <a href="/datenschutz/">Datenschutz</a>
  </p>
</footer>


</body>
</html>
