---
layout: layout.njk
translationKey: minigame
title: "Minigame: Reaction Test"
kurz: "Teste deine Reaktionszeit – Bestwert wird gespeichert."
permalink: /projekte/minigame-reaction/
tags: [projekte]
---

{% include "partials/minigame.njk" %}
