---
layout: layout.njk
translationKey: admin
title: Admin
description: Privater Bereich.
permalink: /admin/
noindex: true
extraCss: /assets/css/admin.css
extraJs: /assets/js/admin.js
---

{% include "partials/admin-hub.njk" %}
