---
layout: layout.njk
title: Impressum
description: Anbieterkennzeichnung
permalink: /impressum/
---

<h1>Impressum</h1>

<p><strong>Angaben gemäß § 5 TMG</strong></p>

<p>
<strong>Name:</strong> Denni-Helmut Rauschenberg<br>
<strong>Anschrift:</strong> Eichenhain 8a, 21717 Fredenbeck-Wedel, Deutschland<br>
</p>

<p>
<strong>Kontakt</strong><br>
E-Mail: <a href="mailto:d.rauschenberg98@gmail.com">d.rauschenberg98@gmail.com</a>
</p>

<p>
<strong>Verantwortlich für den Inhalt nach § 18 Abs. 2 MStV</strong><br>
Denni-Helmut Rauschenberg, Anschrift wie oben
</p>

<h2>Haftung für Inhalte</h2>
<p>
Als Diensteanbieter bin ich gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
Nach §§ 8 bis 10 TMG bin ich als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen.
</p>

<h2>Haftung für Links</h2>
<p>
Diese Website enthält ggf. Links zu externen Websites Dritter, auf deren Inhalte ich keinen Einfluss habe.
Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber verantwortlich.
</p>

<h2>Urheberrecht</h2>
<p>
Die durch den Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.
</p>
