---
layout: layout.njk
translationKey: about
title: Über mich
description: Über Denni Rauschenberg.
permalink: /ueber-mich/
---

<h1>Über mich</h1>

<p>
Hier steht bald ein bisschen was über mich. Der Text ist gerade in Arbeit.
</p>
