---
layout: layout.njk
translationKey: about
title: Über mich
description: Über Denni Rauschenberg.
permalink: /ueber-mich/
---

<h1>Über mich</h1>

<p>
Hier steht bald was (oder auch nicht). Der Text ist noch nicht in Arbeit.
</p>
